.mainContentWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.mainContent {
    background-color: white;
    border-radius: 5px;
}

.dialogs {
    padding: 10px;
}

.messages {
    padding: 10px
}